@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator {
  border: solid 0.5px black;
  max-width: 1440px;
  border-radius: 8px;
  background-color: white
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif, Verdana, Geneva, Tahoma;
  background-image: linear-gradient(to right top,#f8faff,#f1edfb,#f2dff2,#f6cfe0, #f9c1c6);
}

.btn {
  height: 75px;
  width: 75px;
  margin: 15px;
  font-size: 30px;
  color: black;
}

.number {
  background-color: #f0f2f8;
  border-radius: 5px;
}

.number:not(:disabled):not(:disabled):active {
  background-color: #f0f2f8;
}

.number:hover {
  background-color: #c9cace;
}

.operator {
  background-color: #33FF96;
  border-radius: 5px;
}

.operator:hover {
  background-color: #19f784;
}

.operator:not(:disabled):not(:disabled):active {
  background-color: #33FF96;
}

.decimal {
  background-color: #FFBB33;
  border-radius: 5px;
}

.decimal:hover {
  background-color: #f3aa18;
}

.decimal:not(:disabled):not(:disabled):active {
  background-color: #FFBB33;
}

.equal {
  background-color: #3390FF;
  border-radius: 5px;
}

.equal:hover {
  background-color: #1c7cf1;
}

#clear-btn {
  background-color: #f55061;
  border-radius: 5px;
  color: black;
}

#clear-btn:hover {
  background-color: rgb(226, 55, 72);
}

#clear-btn:not(:disabled):not(:disabled):active {
  background-color: #f55061;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d3dbe3;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.other-rows {
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen {
  width: 300px;
  border: solid 1px black;
  height: 75px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 4px;
}

.previous {
  font-size: 20px;
  padding-right: 4px;
  color: black;
}

.current {
  font-size: 30px;
  padding-right: 4px;
  color: black;
}

/* Mobile Responsive */
@media screen and (max-width: 550px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    max-height: 100%;
    background-image: linear-gradient(to right top, #f8faff, #e7edff, #d9dffe, #cdd0fc, #c3c1f9);
  }

  .calculator {
    border: none;
    max-width: 122%;
    background-color: #1b293b;
    padding-left: 22px;
  }
}

@media screen and (max-width: 400px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 100%;
    flex-direction: column;
    background-image: linear-gradient(to right top, #f8faff, #e7edff, #d9dffe, #cdd0fc, #c3c1f9);
  }

  .calculator {
    border: none;
    max-width: 150%;
    background-color: #1b293b;
  }
}
