@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator {
  border: 5px solid black;
  max-width: 1440px;
  background-color: #fff;
  border-radius: 15px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif, Verdana, Geneva, Tahoma;
  background-image: linear-gradient(to right top, #f8faff, #f1edfb, #f2dff2, #f6cfe0, #f9c1c6);
}

.btn{
  height: 75px;
  width: 75px;
  margin: 15px;
  font-size: 30px;
}

.number{
  background-color: #33FF5B;
  border-radius: 50%;
}

.number:hover{
  background-color: rgb(82, 247, 82)
}

.operator{
  background-color:#f8c154;
  border-radius: 50%;
}

.operator:hover{
  background-color:  #FFBB33;
}

.decimal{
  background-color: #4d7cf5;
  border-radius: 50%;
}

.decimal:hover{
  background-color: #396ef5;
}

.equal{
  background-color: #f74daa;
  border-radius: 50%;
}

.equal:hover{
  background-color: #FF33A2;
}

#clear-btn{
  background-color: #f75050;
  border-radius: 50%;
}

#clear-btn:hover{
  background-color: #f76868;
}

#clear-btn:active {
  border: 1px solid black;
  
}

.first-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: solid 4px black;
}

#screen{
  width: 300px;
  border: 1px solid #F23A3A;
  height: 75px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 9px;
}

.previous{
  font-size: 20px;
  padding-right: 4px;
}

.current{
  font-size: 30px;
  padding-right: 4px;
}


/* Mobile Responsive */
@media screen and (max-width: 550px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    max-height: 100%;
    background-image: linear-gradient(to right top, #f8faff, #e7edff, #d9dffe, #cdd0fc, #c3c1f9);
  }

  .calculator {
    border: none;
    max-width: 122%;
    background-color: #fff;
    padding-left: 22px;
  }
}

@media screen and (max-width: 400px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 100%;
    flex-direction: column;
    background-image: linear-gradient(to right top, #f8faff, #e7edff, #d9dffe, #cdd0fc, #c3c1f9);
  }

  .calculator {
    border: none;
    max-width: 150%;
    background-color: #fff;
    ;
  }
}